
<!DOCTYPE html>
<html lang="ko">
    {% extends 'main.html' %}
    
    {% block content %}

    <script>
        function go_to_artist_add(){
            location.href = "{% url 'dataprocess:artist_add' %}";
        }
    </script>
   <div class="forms">
    <div class="contents">
        <table class="resizeable">
            <thead>
                <tr class="resizeable">
                    <th class="resizeable">
                        <div class="resiazable_column">
                            <div class="no-margin-button-layout">
                                <button onclick=go_to_artist_add() class="btn btn-primary border-0"
                                     style="font-size: 10px !important; font-weight: bold;">추가</button>
                                <button id="save-artists" class="btn btn-primary border-0"
                                    style="font-size: 10px !important; font-weight: bold;">저장</button>
                            </div>
                            <span class="artist-title" style="display: hidden; color:transparent; margin-bottom: 36px;">hidden</span>
                             <table id="artist-table" class="table table-centered table-nowrap mb-0 rounded input-transparent">
                                 <thead id="artist-header" class="thead-dark">
                                     <tr>
                                         <td class="hidden">id</td>
                                         <td>ARTIST</td>
                                         <td class="artist_hidden">구분</td>
                                         <td class="artist_hidden">성별</td>
                                         <td class="artist_hidden">맴버 수</td>
                                         <td class="artist_hidden">국적</td>
                                         <td class="artist_hidden">기획사</td>
                                         <td class="artist_hidden">데뷔</td>
                                         <td class="artist_hidden">사용</td>
                                     </tr>
                                 </thead>
                                 <tbody id="artist-body">
                                     {% if artists %}
                                     {% for artist in artists %}
                                     <tr>
                                         <td class="hidden"><input type="text" value={{artist.id}}></input></td>
                                         <td>
                                             <input type="button" name="artist-name" title="{{artist.name}}" 
                                             value="{{artist.name}}" class="input-btn"> </input>
                                        </td>
                                         <td class="artist_hidden">
                                             <input type="text" style="width:100%" title={{artist.level}} value={{artist.level}}></input>
                                        </td>
                                         <td class="artist_hidden">
                                             <input type="text" style="width:100%" title={{artist.gender}} value={{artist.gender}}></input>
                                        </td>
                                         <td class="artist_hidden">
                                             <input type="text" style="width:100%" title={{artist.member_num}} value={{artist.member_num}}></input>
                                        </td>
                                         <td class="artist_hidden">
                                             <input type="text" style="width:100%" title="{{artist.member_nationality}}" value={{artist.member_nationality}}></input>
                                        </td>
                                         <td class="artist_hidden">
                                             <input type="text" style="width:100%" title="{{artist.agency}}" value={{artist.agency}}></input>
                                        </td>
                                         <td class="artist_hidden">
                                             <input type="text" style="width:100%" title="{{artist.debut_date|date:"Y-m-d"}}" value={{artist.debut_date|date:"Y-m-d"}}></input>
                                        </td>
                                         {% if artist.active %}
                                             <td class="artist_hidden"><input checked type="checkbox"></input></td>
                                         {% else %}
                                             <td class="artist_hidden"><input type="checkbox"></input></td>
                                         {% endif %}
                                     </tr>
                                     {% endfor %}
                                     {% else %}
                                     {% endif %}
                                 </tbody>
                             </table>
                             <button class="border-0 expand" id="artist_open_btn">
                                 <i class="fas fa-chevron-left" id="artist_open"></i>
                            </button>
                         </div>
                    </th>

                    <th class="resizeable">
                        <div class="resiazable_column">
                            <div class="no-margin-button-layout">
                                <button id="save-artists-platform" class="btn btn-primary border-0"
                                style="font-size: 10px !important; font-weight: bold;">저장</button>
                            </div>
                            <span class="artist-title" id="artist-subtitle" style="color: transparent; margin-bottom: 36px;">hidden</span>
                            <table id="artist-table" class="table table-centered table-nowrap mb-0 rounded input-transparent">
                                <thead id="artist-header" class="thead-dark">
                                    <tr>
                                        <td class="hidden">artist_id</td>
                                        <td class="hidden">platform_id</td>
                                        <td class="hidden">id</td>
                                        <td>PLATFORM</td>
                                        <td class="platform_hidden">URL 1</td>
                                        <td class="platform_hidden">URL 2</td>
                                    </tr>
                                </thead>
                                <tbody id="artist-body-platform"></tbody>
                            </table>
                            <button class="border-0 expand" id="platform_open_btn">
                                <i class="fas fa-chevron-left" id="platform_open"></i>
                           </button>
                        </div>
                    </th>

                    <th class="resizeable">
                        <div class="resiazable_column">
                            <div class="no-margin-button-layout">
                                <button id="save-list" class="btn btn-primary border-0"
                                style="font-size: 10px !important; font-weight: bold;">저장</button>
                            </div>
                            <span class="artist-title" id="platform-subtitle" style="color: transparent;">플랫폼</span>
                            <div class="artist_attr_button_layout">
                                <button id="artist_attr_add_button"> + </button>
                            </div>
                            <table id="artist-table" class="table table-centered table-nowrap mb-0 rounded input-transparent">
                                <thead id="artist-header" class="thead-dark">
                                    <tr>
                                        <td class="hidden">id</td>
                                        <td>조사항목</td>
                                        <td>내용</td>
                                        <td class="item_hidden">xpath</td>
                                        <td class="item_hidden">삭제</td>
                                    </tr>
                                </thead>
                                <tbody id="artist-body-list">

                                </tbody>
                            </table>
                            <button class="border-0 expand" id="item_open_btn">
                                <i class="fas fa-chevron-left" id="item_open"></i>
                           </button>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>

     </div>
   </div>
    

    {% endblock content %}
</html>
























