<!DOCTYPE html>
<html lang="ko">
    {% extends 'main.html' %}
    
    {% block content %}

    <script>
        function go_to_artist2(){
            location.href = "{% url 'dataprocess:artist' %}";
        }
     </script>
    
    <div class="forms">
        <form method="POST" class="add-form">
           <div class="row_layout flexstart_layout" style="margin-bottom: 10px;">
                <a href="{% url 'dataprocess:artist' %}" class="btn btn-primary border-0"
                style="font-size: 10px !important; text-decoration-line: none;font-weight: bold; margin-right: 5px;">
                    취소
                </a>
                <!-- <button class="excel-btn" onclick=go_to_artist2()>취소</button> -->
                <button class="btn btn-primary border-0" id="add-submit" style="font-size: 10px !important; font-weight: bold;">저장</button>
            </div>
            <div class="row_layout flexstart_layout">
                <table class="table table-centered table-nowrap mb-0 rounded input-transparent
                left-bold">
                    <thead class="thead-dark" style="text-align: center !important;">
                        <tr>
                            <th class="border-0 title-th">항목</th>
                            <th class="border-0 title-th">내용</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                            <th>아티스트명</th>
                            <td><input class="add-target-input"  type="text" placeholder="blackpink"/></td>
                        </tr>
                        <tr>
                            <th>구분</th>
                            <td><input class="add-target-input"  type="text" placeholder="S/A/B/.." /></td>
                        </tr> <tr>
                            <th>성별</th>
                            <td><input class="add-target-input"  type="text" placeholder="M/F" /></td>
                        </tr> <tr>
                            <th>맴버</th>
                            <td><input class="add-target-input"  type="text" placeholder="맴버 수" /></td>
                        </tr> <tr>
                            <th>국적</th>
                            <td><input class="add-target-input"  type="text" placeholder="대한민국 4, 미국 1.." /></td>
                        </tr> 
                        <tr>
                            <th>기획사</th>
                            <td><input class="add-target-input"  type="text" placeholder="기획사" /></td>
                        </tr>
                        <tr>
                            <th>데뷔일</th>
                            <td><input class="add-target-input"  type="text" placeholder="2001-1-1" /></td>
                        </tr>
                    </tbody>
                </table>

               <table class="add-table table table-centered table-nowrap mb-0 rounded input-transparent
               left-bold">
                   <thead id="url-header" class="thead-dark">
                       <th class="border-0 title-th">플랫폼</th>
                       <th class="border-0 title-th">데이터 수집 URL</th>
                   </thead>
                   <tbody id="artist-urls">
                  {% if platforms %}
                   {% for platform in platforms %}
                   <tr>
                        <td style="text-align: center;">{{platform.name}}</td>
                        <td style="display: flex;">
                            <input class="add-target-input-1"  type="text" placeholder="URL" />
                            <span id="url_add_button"> + </span>
                            <span id="url_delete_button"> - </span>
                        </td>
                    </tr>
                   {% endfor %}
                  {% else %}
                  {% endif %}
                </tbody>
               </table>
            </div>
        


        </form>
    </div>
    {% endblock content %}
</html>
