<div class="card-body">
    <table class="table table-centered table-nowrap mb-0 rounded error-report-table">
        <thead class="thead-dark">
            <tr>
                <th>오류</th>
                <th>아티스트</th>
                <th>플랫폼</th>
                <th>URL</th>
                <th class="hidden">id</th>
                <th style="color: black">저장</th>
            </tr>
        </thead>
        <tbody id="error-report">
        </tbody>
    </table>
    <nav aria-label="Page navigation example" style="margin-top: 12px;" >
        <ul class="pagination justify-content-center">
          
        </ul>
      </nav>
</div>