<div class="modal fade" id="modal-default" tabindex="-1" aria-labelledby="modal-default" aria-modal="true" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title" id="schedule-modal-title" style="font-weight: bold;"> 플랫폼의 시간별 아티스트 </h2>
                <h2 class="hidden" id="schedule-platform-index">0</h2>
            </div>
            <div class="modal-body">
                <div id="hourly-artist" style="text-align: left;">

                </div>
                
                
            </div>
            <div class="modal-footer">
                <button id="schedule-close" type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>