<!DOCTYPE html>
<html lang="ko">
   {% extends "main.html" %}

   {% block content %}

   <script>
      function go_to_login(){
          location.href = "{% url 'account:user_simple_login_api' %}";
      }
      function go_to_datareport(){
          location.href = "{% url 'dataprocess:daily' %}";
      }
      function go_to_platform(){
          location.href = "{% url 'dataprocess:platform' %}";
      }
      function go_to_artist(){
          location.href = "{% url 'dataprocess:artist' %}";
      }
      function go_to_monitering(){
          location.href = "{% url 'dataprocess:monitering' %}";
      }
   </script>

   <!-- 로그인 -->
   {% if user.is_authenticated %}
   <div class="forms">
      <br>
      <br>
      <div class="column_layout" style="width: 30%;">
         <button class="btn btn-primary border-0" style="font-size: 12px; font-weight: bold;" id="login-btn" onclick=go_to_datareport()>
            데이터리포트로 이동
         </button>
         <button class="btn btn-primary border-0" style="font-size: 12px; font-weight: bold;" onclick=go_to_platform()>
            플랫폼 관리로 이동
         </button>
         <button class="btn btn-primary border-0" style="font-size: 12px; font-weight: bold;" onclick=go_to_artist()>
            아티스트 관리로 이동
         </button>
         <button class="btn btn-primary border-0" style="font-size: 12px; font-weight: bold;" onclick=go_to_monitering()>
            모니터링 관리로 이동
         </button>
      </div>
   </div>
    {% else %}
    <div class="forms">
      <button class="btn btn-primary border-0" style="font-size: 12px; font-weight: bold; width: 100px;"
      id="login-btn" onclick=go_to_login()>
         로그인
      </button>
   </div>
    {% endif %}

   {% endblock content %}
</html>