<!DOCTYPE html>
<html lang="ko">
    {% extends 'main.html' %}
    
    {% block content %}

    <div class="forms">

        <div class="contents">
            <div class="contents-scheduler" style="overflow-y: scroll;">
                <label style="text-align: start; margin-bottom: 5px; font-weight: bold; font-size: 14px;">스케줄링 정책</label>
                <div class="tabmenu">
                    <ul>
                      <li id="tab1" class="btnCon"> <input type="radio" checked name="tabmenu" id="tabmenu1">
                        <label for="tabmenu1">일별</label>
                        <div class="tabCon" >
                            <table id="scheduler-table" class="table table-centered table-nowrap mb-0 rounded">
                                <thead id="scheduler-header"  class="thead-dark">
                                    <td>PLATFORM</td>
                                    <td>크롤링 스케줄 (시)</td>
                                    <td>크롤링 스케줄 (분)</td>
                                    <td></td>
                                </thead>
                                <tbody id="scheduler-body">
                                    {% if platforms %}
                                    {% for platform in platforms %}
                                    <tr>
                                        <td style="text-align: center; font-weight:bold;">{{platform.name}}</td>
                                        <td style="text-align: start;">
                                            <select style="margin:2px;" name="hour" id="hour-select" class="form-select">
                                                <option value="0">00</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                            </select>
                                            
                                        </td> 
                                        <td>
                                            <select style="margin:2px;" name="minute" id="minute-select" class="form-select">
                                                <option value="0">00</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                                <option value="32">32</option>
                                                <option value="33">33</option>
                                                <option value="34">34</option>
                                                <option value="35">35</option>
                                                <option value="36">36</option>
                                                <option value="37">37</option>
                                                <option value="38">38</option>
                                                <option value="39">39</option>
                                                <option value="40">40</option>
                                                <option value="41">41</option>
                                                <option value="42">42</option>
                                                <option value="43">43</option>
                                                <option value="44">44</option>
                                                <option value="45">45</option>
                                                <option value="46">46</option>
                                                <option value="47">47</option>
                                                <option value="48">48</option>
                                                <option value="49">49</option>
                                                <option value="50">50</option>
                                                <option value="51">51</option>
                                                <option value="52">52</option>
                                                <option value="53">53</option>
                                                <option value="54">54</option>
                                                <option value="55">55</option>
                                                <option value="56">56</option>
                                                <option value="57">57</option>
                                                <option value="58">58</option>
                                                <option value="59">59</option>
                                            </select>
                                            
                                        </td>
                                        <td>
                                            <label class="btn btn-primary btn-shadow border-0" id="save-schedule"
                                            style="margin: 5px; font-weight: bold;font-size: 10px !important; width: 50px;">
                                                저장
                                            </label>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        
                      </li>
                      <li id="tab2" class="btnCon"><input type="radio" name="tabmenu" id="tabmenu2">
                        <label for="tabmenu2">시간별</label>
                        {% include 'dataprocess/hourly_artist.html' %}
                        <div class="tabCon" >
                            <table id="hourly-scheduler-table" class="table table-centered table-nowrap mb-0 rounded" style="text-align: center;">
                                <thead id="hourly-scheduler-header"  class="thead-dark">
                                    <td>PLATFORM</td>
                                    <td>크롤링 주기 (시)</td>
                                    <td>크롤링 시작 (분)</td>
                                    <td></td>
                                </thead>
                                <tbody id="hourly-scheduler-body">
                                    <tr>
                                        <td colspan="4">
                                            <div class="loading-box">
                                                <div class="loader"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- {% if platforms %}
                                    {% for platform in platforms %}
                                    <tr>
                                        <td style="font-weight: bold;">{{platform.name}}</td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    {% endif %} -->
                                </tbody>
                            </table>
                        </div>
                        
                      </li>    
                    </ul>
                  </div>

                
                
            </div>
            <div class="contents-crawler">
                <div class="contents-state">
                    <label style="text-align: start; margin-bottom: 5px; font-weight: bold; font-size: 14px;">크롤러 현황</label>
                    <div class="state-circles">
                        <div id="outcircle">
                            <div id="incircle-1">
                                <span class="state-description state-description-success"></span>
                            </div>
                        </div>
                        <div id="outcircle">
                            <div id="incircle-2">
                                <span class="state-description state-description-error"></span>
                            </div>
                        </div>
                        <div id="outcircle">
                            <div id="incircle-3">
                                <span class="state-description state-description-running"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-dark">
                                <tr>
                                    <th>오류</th>
                                    <th>건수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="no-page">페이지 없음</td>
                                    <td id="no-page" style="text-align: center; font-weight: bold;"></td>
                                </tr>
                                <tr>
                                    <td>로그인 불가</td>
                                    <td id="no-login" style="text-align: center; font-weight: bold;"></td>
                                </tr>
                                <tr>
                                    <td>기타</td>
                                    <td id="ect" style="text-align: center; font-weight: bold;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="contents-error">
                    <label style="text-align: start; margin-bottom: 5px; font-weight: bold;font-size:14px;">오류 현황</label>
                    <!--페이지 삽입-->
                    {% include 'dataprocess/error_report.html' %}
                </div>
            </div>
        </div>
       
    </div>

   

    {% endblock content %}
</html>