<header class="header">
    <script>
        function go_to_main(){
          location.href = "{% url 'account:base' %}";
      }
    </script>
   {% if first_depth and second_depth %}
   <div class="header-element">
        <span onclick="go_to_main()" class="first-depth"><svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg></span>
        <span class="middle-1"><i class="fas fa-chevron-right"></i></span></span>
        <span class="second-depth">{{ first_depth }}</span>
        <span class="middle-2"><i class="fas fa-chevron-right"></i></span></span>
        <span class="third-depth">{{ second_depth }}</span>
    </div>
   {% elif first_depth and not second_depth %}
    <div class="header-element">
        <span onclick="go_to_main()" class="first-depth"><svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg></span>
        <span class="middle-1"><i class="fas fa-chevron-right"></i></span></span>
        <span class="second-depth">{{ first_depth }}</span>
        <span class="middle-2"></span></span>
        <span class="third-depth"></span>
    </div>
   {% else %}
   <div class="header-element">
        <span onclick="go_to_main()" class="first-depth"><svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg></span>
        <span class="middle-1"></span>
        <span class="second-depth"></span>
        <span class="middle-2"></span>
        <span class="third-depth"></span>
    </div>
   {% endif %}

   <script>
        function go_to_logout(){
            location.href = "{% url 'account:user_logout_api' %}";
        }
        function go_to_login(){
            location.href = "{% url 'account:user_simple_login_api' %}";
        }
   </script>

   {% if user.is_authenticated %}
   <button style="line-height: 0;" class="logout-btn btn btn-sm btn-gray-800" id="logout-btn" onclick=go_to_logout()>
        로그아웃
    </button>
    {% else %}
    <button style="line-height: 0;" class="login-btn btn btn-sm btn-gray-800" id="login-btn" onclick=go_to_login()>
        로그인
    </button>
    {% endif %}
</header>