/* platform */
.hidden{
    display: none;
}

.row_layout{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flexstart_layout{
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.flexend_layout{
    align-items: flex-end !important;
    justify-content: flex-end !important;
}

.column_layout{
    display: flex;
    flex-direction: column;
}


input[type='checkbox']{
    width: 14px !important;
    height: 14px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 1px solid black;
    box-shadow: none;
    font-size: 14px;
    text-align: center;
    background: white;
}
   
input[type='checkbox']:checked:after {
    content: '✔';
    height: 15px !important;
    color: black;
}

/* 
#platform-table{
    text-align: center;
    width: 90%;
}

#platform-table td{
    border: 2px solid grey !important;
    padding: 5px 10px 5px 10px;
}

#platform-header{
    color: white;
    background-color: black !important;
}

#platform-header td{
    color: white;
    background-color: black !important;
    text-align: center;
    font-weight: bold;
    font-size : 1.2rem;
}

#platform-body td{
    text-align: center;
} */

.popup_button_layout{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup_button_layout > span{
    font-weight: bold;
    font-size: 14px;
}

.button_layout{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.button-layout{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.button-layout > button{
    margin-right: 5px;
}

.no-margin-button-layout{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.no-margin-button-layout > button{
    margin-right: 5px;
}

/* 거의 모든 버튼 형태 */
/* .excel-btn{
    font-weight: bold;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
    border: 1px solid black !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    position: relative;
} */

.black-btn2{
    background-color: rgb(59, 59, 59) !important;
    color: white !important;
}

.excel-form-open{
    min-width: 180px !important;
    width: 180px !important;
}

.excel-form-open-hint{
    display: none;
    font-weight: normal;
    font-size : 12px;
}

.excel-btn:hover{
    top: -2px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px grey;
}

/* .button_layout > a:hover{
    top: -2px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px grey;
} */

/* popup form */
.create_form, .excel_form{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: none;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 800px;
    z-index: 100;
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0.0625rem solid rgba(17, 24, 39, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(140, 152, 164, 0.2);
    outline: 0;
}

.excel_form{
    padding-bottom: 0px !important;
    width: 40% !important;
}

.table_layout{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.table_layout table{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    text-align: center;
}

/* .table_layout td{
    font-weight: bold;
    text-align: center;
    border: 1px solid grey !important;
    padding: 2px 5px 2px 5px;
}

.table_layout input{
    width: 100%;
} */

.table_layout table>tbody td:nth-child(1){
    /* background-color: rgb(202, 200, 200, 0.5);
    font-size : 0.8rem; */
    font-weight: bold;
}

.table_layout table>thead{
    color: white;
    background-color: black;
    font-size :12px;
    font-weight: bold;
}

.attr_button_layout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#attr_add_button, #attr_delete_button{
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 26px;
    height: 26px;
    margin: 0;
    align-items: flex-end;
    justify-self: flex-end;
    margin-bottom: 5px;
}

/* loading bar */
.loading-box{
    margin-bottom: 5px;
    position: relative;
    width: 400px;
    height: 25px;
    border-radius: 50px;
    border: 2px solid #ededed;
    overflow: hidden;
}

.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    background: linear-gradient(45deg, #383838, #a1a0a0);
    left: 0%;
}

.loader{
    left: -100%;
    animation: load 3s linear infinite;
}

@keyframes load{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}